##Fill in absolute paths on your LSF cluster

##Conda installation
CONDA_DIR=/omics/groups/OE0146/internal/Areeba/miniconda3


##Path to reference genome, can be a FASTA or minimap2 indexed file
MMI_HG19=/b06x-isilon/b06x-m/mnp_nanopore/software/hg19/hg19.mmi
REFERENCE_HG19=/b06x-isilon/b06x-m/mnp_nanopore/software/hg19/hg19.fa
MMI_HG38=/b06x-isilon/b06x-m/mnp_nanopore/software/hg38/hg38.mmi

##Path to guppy bin folder
GUPPY_PATH=/b06x-isilon/b06x-m/mnp_nanopore/software/ont-guppy_5.0.11/bin/

##Path to Porechop directory
PORECHOP_PATH=/b06x-isilon/b06x-m/mnp_nanopore/software/Porechop/

##Path to deepvariant singularity image
DEEPVARIANT_PATH=/b06x-isilon/b06x-m/mnp_nanopore/software/pepper_deepvariant_r0.4.sif

##Panel BED file
PANEL=NPHD_panel.bed
TARGETS=/b06x-isilon/b06x-m/mnp_nanopore/software/panel_adaptive_20122021.bed

##Path to ANNOVAR and humandb folder
ANNOVAR_PATH=/b06x-isilon/b06x-m/mnp_nanopore/software/annovar/annovar/
ANNOVAR_DB=/b06x-isilon/b06x-m/mnp_nanopore/software/humandb/

#Path to classification data
PROBES=/b06x-isilon/b06x-m/mnp_nanopore/test_git/Rapid-CNS2/top_probes_hm450.Rdata
ARRAY_FILE=/b06x-isilon/b06x-m/mnp_nanopore/test_git/Rapid-CNS2/HM450.hg38.manifest.gencode.v22.Rdata
TRAINING_DATA=/b06x-isilon/b06x-m/mnp_nanopore/test_git/Rapid-CNS2/capper_top_100k_betas_binarised.Rdata
MGMT_BED=mgmt_hg38.bed
MGMT_PROBES=mgmt_probes.Rdata
MGMT_MODEL=mgmt_137sites_mean_model.Rdata

